<div class="footer">
    <div class="footer-main">
        <div class="footer-colunm">
            <p>Contact information:</p>
            <hr>
            <p>Address: District 9, Ho Chi Minh City</p>
            <p>Social Network</p>
            <span>
                <a href="https://www.facebook.com/dinhnghia.95"> <img src="img/icon1.jpg" width="50" height="50"
                        title="Liên hệ với chúng tôi"></a>
                <a href="https://id.zalo.me/account"> <img src="img/icon2.jpg" width="50" height="50"
                        title="Liên hệ với chúng tôi"></a>
                <a href="https://www.youtube.com/?utm_source=directory&utm_campaign=CoccocAds&utm_medium=CoccocBrowser">
                    <img src="img/icon3.png" width="50" height="50" title="Liên hệ với chúng tôi"></a>
                <a href="https://plus.google.com/u/0/+V%C3%B5%C4%90%C3%ACnhNgh%C4%A9a27?tab=iX"> <img
                        src="img/icon4.png" width="50" height="50" title="vodinhnghia85@gmail.com"></a>
            </span>
        </div>
        <div class="footer-colunm">
            <p>News</p>
            <hr><br>
            <a href="#">- Tech news</a><br><br>
            <a href="#">- Tech news</a><br><br>
            <a href="#">- Service</a>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Developed in 2020</p>
    </div>

</div>