<form id="searchbox" method="POST" action="/search">
    <input name="q" type="text" size="12" placeholder="Type here..." />
    <input id="button-submit" type="submit" value="Search" />
</form>
<div class="topnav" id="myTopnav">
    <a href="/index" class="active">Home</a>
    <a href="/post">Post</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="/" onclick="function_logout()" style="float: right; padding-right: 40px;">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<script language="javascript" src="js/js.js"></script>